<!-- Modal -->
<div class="modal fade" id="edit-modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Perubahan Nama Lembaga</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/lembaga?_method=PUT" method="POST">
      <div class="modal-body">
          <div class="col-md-10">
            <label for="validationCustom01" class="form-label">Nama Lembaga</label>
            <input type="text" class="form-control name" placeholder="Nama Lembaga" name="nama_lembaga" required>
          </div>
          <br />
          <div class="modal-footer">
            <input type="hidden" class="id" name="id">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>